/*! pickr styles | MIT | Simon Reinisch (https://simonwep.github.io/pickr/), modified by Julian Schoenbaechler (https://julian-s.ch) */
.pickr {
  position: relative;
  overflow: visible;
}
.pickr * {
  box-sizing: border-box;
}
.pickr .pcr-button {
  position: relative;
  height: 20px;
  width: 30px;
  padding: 0 4px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #7a2f34;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}
.pickr .pcr-button:before {
  background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'><path fill='white' d='M1,0H2V1H1V0ZM0,1H1V2H0V1Z'/><path fill='gray' d='M0,0H1V1H0V0ZM1,1H2V2H1V1Z'/></svg>");
  background-size: 0.5em;
  border-radius: 4px;
  z-index: -1;
}
.pickr .pcr-button:after,
.pickr .pcr-button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pickr .pcr-button:after {
  background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' stroke='%2342445A' stroke-width='5px' stroke-linecap='round'><path d='M45,45L5,5'></path><path d='M45,5L5,45'></path></svg>") no-repeat 50%;
  opacity: 0;
}
.pickr .pcr-button.clear:after {
  opacity: 1;
}
.pickr .pcr-button.disabled {
  cursor: not-allowed;
}
.pcr-app {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0 !important;
  left: 34px !important;
  height: 200px;
  width: 360px;
  max-width: 95vw;
  padding: 4px;
  opacity: 0;
  visibility: hidden;
  background-color: #525156;
  border-radius: 4px;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
}
.pcr-app.visible {
  visibility: visible;
  opacity: 1;
}
.pcr-app .pcr-interaction {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pcr-app .pcr-interaction input {
  margin: 10px 0 0 4px;
  flex: 1 1 auto;
}
.pcr-app .pcr-interaction input:first-child {
  margin-left: 0;
}
.pcr-app .pcr-interaction .pcr-result {
  width: auto;
  min-width: 0;
  font-size: 14px;
}
.pcr-app .pcr-interaction .pcr-type {
  font-size: 12px;
}
.pcr-app .pcr-interaction .pcr-type.active {
  background-color: #222125;
}
.pcr-app .pcr-interaction .pcr-clear,
.pcr-app .pcr-interaction .pcr-save {
  min-width: 80px;
}
.pcr-app .pcr-interaction .pcr-save {
  background-color: #7a2f34;
}
.pcr-app .pcr-interaction .pcr-save:hover {
  background-color: #87383c;
}
.pcr-app .pcr-selection {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.pcr-app .pcr-selection .pcr-picker {
  position: absolute;
  height: 14px;
  width: 14px;
  cursor: grab;
  border: 2px solid #7a2f34;
  border-radius: 100%;
  user-select: none;
}
.pcr-app .pcr-selection .pcr-color-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  width: 2em;
}
.pcr-app .pcr-selection .pcr-color-preview:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'><path fill='white' d='M1,0H2V1H1V0ZM0,1H1V2H0V1Z'/><path fill='gray' d='M0,0H1V1H0V0ZM1,1H2V2H1V1Z'/></svg>");
  background-size: 0.5em;
  border-radius: 4px;
  z-index: -1;
}
.pcr-app .pcr-selection .pcr-color-preview .pcr-last-color {
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  transition: background-color 0.2s ease-in-out;
}
.pcr-app .pcr-selection .pcr-color-preview .pcr-current-color {
  border-radius: 0 0 4px 4px;
}
.pcr-app .pcr-selection .pcr-color-preview .pcr-current-color,
.pcr-app .pcr-selection .pcr-color-preview .pcr-last-color {
  background: transparent;
  width: 100%;
  height: 50%;
}
.pcr-app .pcr-selection .pcr-color-chooser,
.pcr-app .pcr-selection .pcr-color-opacity,
.pcr-app .pcr-selection .pcr-color-palette {
  position: relative;
  user-select: none;
}
.pcr-app .pcr-selection .pcr-color-palette {
  flex-grow: 0.9;
  z-index: 1;
}
.pcr-app .pcr-selection .pcr-color-palette .pcr-palette {
  height: 100%;
  border-radius: 4px;
}
.pcr-app .pcr-selection .pcr-color-palette .pcr-palette:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'><path fill='white' d='M1,0H2V1H1V0ZM0,1H1V2H0V1Z'/><path fill='gray' d='M0,0H1V1H0V0ZM1,1H2V2H1V1Z'/></svg>");
  background-size: .5em;
  border-radius: 4px;
  z-index: -1;
}
.pcr-app .pcr-selection .pcr-color-chooser .pcr-picker,
.pcr-app .pcr-selection .pcr-color-opacity .pcr-picker {
  left: 50%;
  transform: translateX(-50%);
}
.pcr-app .pcr-selection .pcr-color-chooser .pcr-slider,
.pcr-app .pcr-selection .pcr-color-opacity .pcr-slider {
  width: 8px;
  height: 100%;
  border-radius: 50em;
}
.pcr-app .pcr-selection .pcr-color-chooser .pcr-slider {
  background: linear-gradient(180deg,red,#ff0,lime,cyan,blue,#f0f,red);
}
.pcr-app .pcr-selection .pcr-color-opacity .pcr-slider {
  background: linear-gradient(180deg, transparent, #000), url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'><path fill='white' d='M1,0H2V1H1V0ZM0,1H1V2H0V1Z'/><path fill='gray' d='M0,0H1V1H0V0ZM1,1H2V2H1V1Z'/></svg>");
  background-size: 100%,50%;
}
