/*! Pickr 0.4.5 MIT | https://github.com/Simonwep/pickr | modified by Julian Schoenbaechler (https://julian-s.ch) */
.pickr {
  position: relative;
  overflow: visible;
  transform: translateY(0);
}
.pickr * {
  box-sizing: border-box;
}
.pickr .pcr-button {
  position: relative;
  height: 20px;
  width: 30px;
  padding: 0 4px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: transparent;
  background-size: 0;
  border: 1px solid #7a2f34;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.pickr .pcr-button:before {
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: .5em;
  z-index: -1;
  z-index: auto;
}
.pickr .pcr-button:after,
.pickr .pcr-button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  z-index: -1;
}
.pickr .pcr-button:after {
  transition: background-color 0.2s ease-in-out;
  background: currentColor;
}
.pickr .pcr-button.clear {
  background-size: 70%;
}
.pickr .pcr-button.clear:before {
  opacity: 0;
}
.pickr .pcr-button.clear:focus {
  box-shadow: none;
}
.pickr .pcr-button.disabled {
  cursor: not-allowed;
}
.pcr-app button,
.pcr-app input,
.pickr button,
.pickr input {
  outline: none;
  border: none;
  -webkit-appearance: none;
}
.pcr-app button:focus,
.pcr-app input:focus,
.pickr button:focus,
.pickr input:focus {
  box-shadow: none;
}
.pcr-app {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10000;
  top: 0;
  left: 0;
  height: 200px;
  width: 360px;
  max-width: 95vw;
  padding: 4px;
  opacity: 0;
  visibility: hidden;
  background-color: #525156;
  border-radius: 4px;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
}
.pcr-app.visible {
  visibility: visible;
  opacity: 1;
}
.pcr-app .pcr-swatches {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}
.pcr-app .pcr-swatches.pcr-last {
  margin: 0;
}
@supports (display: grid) {
  .pcr-app .pcr-swatches {
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, 2px);
  }
}
.pcr-app .pcr-swatches>button {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  flex-shrink: 0;
  justify-self: center;
  overflow: hidden;
  background: transparent;
  transition: background-color 0.2s ease-in-out;
  z-index: 1;
}
.pcr-app .pcr-swatches>button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: 6px;
  border-radius: 4px;
  z-index: -1;
}
.pcr-app .pcr-swatches>button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 4px;
  box-sizing: border-box;
}
.pcr-app .pcr-swatches>button:hover {
  filter: brightness(1.05);
}
.pcr-app .pcr-interaction {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pcr-app .pcr-interaction>* {
  flex: 1 1 auto;
  margin: 8px 0 0 4px;
}
.pcr-app .pcr-interaction *:first-child {
  margin-left: 0;
}
.pcr-app .pcr-interaction input {
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  color: #f8f8ec;
  background: #353438;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}
.pcr-app .pcr-interaction input:hover {
  filter: brightness(0.9);
}
.pcr-app .pcr-interaction input:focus {
  background: #222125;
  box-shadow: none;
}
.pcr-app .pcr-interaction .pcr-result {
  flex-grow: 1;
  width: auto;
  min-width: 0;
  font-size: 14px;
  color: #f8f8ec;
  text-align: left;
  cursor: text;
  border-radius: 4px;
  background: #353438;
  transition: background-color 0.2s ease-in-out;
}
.pcr-app .pcr-interaction .pcr-type.active {
  background: #222125;
}
.pcr-app .pcr-interaction .pcr-clear,
.pcr-app .pcr-interaction .pcr-save {
  min-width: 80px;
  color: #f8f8ec;
}
.pcr-app .pcr-interaction .pcr-save {
  background-color: #7a2f34;
}
.pcr-app .pcr-interaction .pcr-clear {
  background-color: #353438;
}
.pcr-app .pcr-interaction .pcr-save:hover {
  background-color: #87383c;
  filter: brightness(1);
}
.pcr-app .pcr-interaction .pcr-clear:hover {
  filter: brightness(0.9);
}
.pcr-app .pcr-interaction .pcr-clear:focus {
  box-shadow: none;
}
.pcr-app .pcr-selection {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.pcr-app .pcr-selection .pcr-picker {
  position: absolute;
  height: 14px;
  width: 14px;
  cursor: grab;
  border: 2px solid #7a2f34;
  border-radius: 100%;
  user-select: none;
}
.pcr-app .pcr-selection .pcr-color-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2em;
  margin-right: 4px;
  z-index: 1;
}
.pcr-app .pcr-selection .pcr-color-preview:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: .5em;
  border-radius: 4px;
  z-index: -1;
}
.pcr-app .pcr-selection .pcr-color-preview .pcr-last-color {
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  transition: background-color 0.2s ease-in-out;
  z-index: 2;
}
.pcr-app .pcr-selection .pcr-color-preview .pcr-current-color {
  border-radius: 0 0 4px 4px;
}
.pcr-app .pcr-selection .pcr-color-preview .pcr-current-color, .pcr-app .pcr-selection .pcr-color-preview .pcr-last-color {
  background: currentColor;
  width: 100%;
  height: 50%;
}
.pcr-app .pcr-selection .pcr-color-chooser, .pcr-app .pcr-selection .pcr-color-opacity, .pcr-app .pcr-selection .pcr-color-palette {
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
}
.pcr-app .pcr-selection .pcr-color-palette {
  width: 100%;
  z-index: 1;
}
.pcr-app .pcr-selection .pcr-color-palette .pcr-palette {
  height: 100%;
  border-radius: 4px;
}
.pcr-app .pcr-selection .pcr-color-palette .pcr-palette:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: .5em;
  border-radius: 4px;
  z-index: -1;
}
.pcr-app .pcr-selection .pcr-color-chooser,
.pcr-app .pcr-selection .pcr-color-opacity {
  margin-left: 8px;
}
.pcr-app .pcr-selection .pcr-color-chooser .pcr-picker,
.pcr-app .pcr-selection .pcr-color-opacity .pcr-picker {
  left: 50%;
  transform: translateX(-50%);
}
.pcr-app .pcr-selection .pcr-color-chooser .pcr-slider,
.pcr-app .pcr-selection .pcr-color-opacity .pcr-slider {
  flex-grow: 1;
  width: 8px;
  border-radius: 50em;
}
.pcr-app .pcr-selection .pcr-color-chooser .pcr-slider {
  background: linear-gradient(180deg, red, #ff0, #0f0, #0ff, #00f, #f0f, red);
}
.pcr-app .pcr-selection .pcr-color-opacity .pcr-slider {
  background: linear-gradient(180deg, transparent, #000), url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: 100%, 50%;
}
